/* Import "EB Garamond" from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/*-----CSS RESET: -Universal selector to reset default browser styles-----*/
* {
  margin: 0px;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  box-sizing: border-box;
}
/*-----declaring the root pseudo-class to use global color variables  styles to use them across the html doc-----*/
:root {
  --color-white: hsl(0, 0%, 100%);
  --color-light-gray: hsl(212, 45%, 89%);
  --color-grayish-blue: hsl(220, 15%, 55%);
  --color-dark-blue: hsl(218, 44%, 22%);
  --color-blue: hsl(217, 86%, 42%);
}

/* Decorative styles */

/* Query for mobiles */
html,
body {
  margin: 0;
  padding: 0;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 100vh; /* This ensures that the body takes the full viewport height */
  background-color: var(--color-light-gray);
}

main {
  display: flex;
  justify-content: center; /* This centers the children of .mainContainer vertically along the main axis */
  align-items: center; /* This centers the children of .mainContainer horizontally along the cross axis */
  display: flex;
  flex-direction: column;
  height: 95vh; /* This ensures that the body takes the full viewport height.The only way to centered vertically is to use this on main */
}

.articleContainer {
  width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 1.5rem;
  background-color: var(--color-white);
  box-shadow: 0 0 10px rgba(0 0 0 / 40%);
}

.qrCodeBox {
  width: 100%;
  border-radius: 15px;
  background: url(../images/image-qr-code.png);
  background-size: cover;
  aspect-ratio: 1/1;
  margin-bottom: 1rem;
}

h1 {
  font-family: Outfit;
  font-weight: 700;
  width: 300px;
  text-align: center;
  margin-bottom: 1rem;
  color: var(--color-dark-blue);
  transition-duration: 1200ms;
  transition-timing-function: ease;
}

h1:is(:hover, :focus) {
  transform: scale(1.2);
  color: var(--color-blue);
}

h1:hover {
  color: var(--color-blue);
}
p {
  font-family: Outfit;
  font-weight: 400;
  width: 300px;
  text-align: center;
  font: 15px;
  color: hsl(220, 15%, 55%);
  width: 250px;
  margin-bottom: 1rem;
}

footer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
